* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #282D35;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgba(33, 34, 42, 1);
    height: 90px;
    padding: 30px 25px;
}

.navbar > h3, .navbar > h4 {
    margin: 0;
}

.navbar > h3 {
    margin-right: auto;
    color: rgba(97, 218, 251, 1);
    font-weight: 700;
    font-size: 22px;
}

.navbar > h4 {
    color: rgba(222, 235, 248, 1);
    font-weight: 600;
    font-size: 16px;
}

.navbar > img {
    height: 30px;
    margin-right: 7px;
}

main {
    padding: 57px 27px;
    color: rgba(255, 255, 255, 1);
}

.main--title {
    font-size: 39px;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
}

.main--facts li {
    font-size: 16px;
    line-height: 19px;
    padding-block: 10px;
}

.main--facts li::marker {
    color: rgba(97, 218, 251, 1);
    font-size: 2rem;
}